@using app.Utils;
@model Hero
@{
    Layout = "";
    string classColor = Model.Class.GetAttribute<ColorAttribute>().HexColor;

    List<int> ownderHeroes;
    if (ViewData.TryGetValue("OwnedHeroes", out object? obj))
        ownderHeroes = (List<int>)obj!;
    else
        ownderHeroes = new List<int>();
}

<div class="HeroView">
    <div class="HeroView-Type">
        <div style="display:inline" class="HeroView-Type Border-Bottom">
            <div>Class:</div>
            <div style="color:@classColor">@Model.Class.ToString()</div>
        </div>
        <div style="display:inline" class="mx-4 HeroView-Type Border-Bottom Step">
            <div>Name:</div>
            <div>@Model.Name</div>
        </div>
        @if (User.IsInRole("Admin"))
        {
        <a asp-page="/Authenticated/HeroesShop/EditHero" asp-route-heroId="@Model.Id" class="p-1 h-50 link-dark border border-dark rounded bi bi-pen"></a>
        }
    </div>
    <div>
        Stats
        <div style="height:1.4em" class="Border">
            <div class="HPBar"></div>
            <div class="BarText">@Model.MaxHP</div>
        </div>
        <div style="height:1.4em" class="Border">
            <div class="MPBar"></div>
            <div class="BarText">@Model.MaxMP</div>
        </div>
    </div>
    @if (ownderHeroes.Contains(Model.Id))
    {
        <div class="mt-1 ms-3 me-3 text-center text-white bg-success"><u class="">Already Owned</u></div>
    }
</div>
