@using app.Utils;
@model Item

<div class="col">
    <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>@Model.Name</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <image href="@Model.Image" width="100%" height="100%" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">@Model.Name</text>
        </svg>
        <div class="card-body">
            <h4>@Model.Name</h4>
            <p class="card-text">@Model.Description.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    @if (User.IsInRole("Admin"))
                    {
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    }
                </div>
                <small class="text-muted">@Model.Price$</small>
            </div>
        </div>
    </div>
</div>